html {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: whitesmoke;

    overflow: hidden;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#welcome-page {
    height: 100vh;
    width: 100vw;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: red;

    position: absolute;
    
    top:0;
    left:0;

    z-index: 10;
}

#welcome-page-form {
    height: 5%;
    width: 25%;

    padding: 0;
    margin: 0;

    opacity: 1;
}

#trainer-name-input {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 3% 7%;

    font-size: 1.5em;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);

    border: none;
    border-radius: 50px;

    color: rgba(0, 0, 0, .75);
    background-color: whitesmoke;
}   

#main-container {
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;

    position: absolute;
    
    top: 0;
    left: 0;

    z-index: 1;

    background: linear-gradient(blue , silver, blue);
}

.fadeout {
    opacity: 0;
    transition: 1s opacity;
}

.fadein {
    opacity: 1;
    transition: 1s opacity;
}

#welcome-page-name {
    color: whitesmoke;

    font-size: 5em;

    opacity: 0;
}

#curtain {
    padding: 0;
    margin: 0;

}

#loading-screen {
    width: 75%;
    height: auto;

    padding:0;
    margin: 0;

    position: absolute;

    top:-5%;
    left: 9.17%;

    z-index: 9;

    display: none;
}

#curtain-top {
    width: 100vw;
    height: 50vh;

    margin: 0;
    padding: 0;

    background-color: red;

    position: absolute;

    z-index: 7;

    display: flex;

    align-items: flex-start;
    justify-content: center;

    top:0;
    left:0;
}

#top-pokeball-outline {
    width: 125px;
    height: 125px;
    
    padding: 0;
    margin: 0;
    
    border: solid 72px whitesmoke;
    border-color: whitesmoke whitesmoke transparent transparent;
    border-radius: 200px 200px 200px 0;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    position: absolute;
    
    top: 65%;
    left: 38%;
    
    transform: rotate(-45deg);
    z-index: 8;

}

#top-red-block {
    width: 300%;
    height: 7%;
    
    padding: 0;
    margin-bottom: -1%;
    
    background-color: red;
    
    position: absolute;
    
    z-index: 9;
    
    transform: rotate(45deg);
}

#top-pokeball-circle {
    width: .1px;
    height: .1px;
    
    padding: 0;
    margin-top: 2%;
    
    margin-left: -2%;
    
    border: solid 50px whitesmoke;
    border-color: whitesmoke whitesmoke transparent transparent;
    border-radius: 700px 700px 700px 0;
    
    position: absolute;
    
    z-index: 11;

}

#bottom-pokeball-circle {
    width: .1px;
    height: .1px;  

    padding: 0;
    margin-top: 2%;
    margin-left: -2%;
    
    border:solid 50px whitesmoke;
    
    border-color:whitesmoke whitesmoke transparent transparent;
    
    border-radius: 300px 300px 300px 0;

    position: absolute;

    z-index: 11;
}

#bottom-red-block {
    width: 300%;
    height: 7%;

    padding: 0;

    margin-top: -1%;

    background-color: red;

    position:absolute;

    z-index: 9;

    transform: rotate(45deg);
}

#bottom-pokeball-outline {
    width: 125px;
    height: 125px;  

    padding: 0;
    margin: 0;
    
    border:solid 72px whitesmoke;
    
    border-color:whitesmoke whitesmoke transparent transparent;
    
    border-radius: 200px 200px 200px 0;

    transform: rotate(135deg);

    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;

    bottom: 66%;
    left: 38%;

    z-index: 8;
}

#curtain-bottom {
    width: 100vw;
    height: 50vh;

    margin: 0;
    padding: 0;

    background-color: red;

    position: absolute;

    z-index: 7;

    display: flex;

    align-items: baseline;
    justify-content: center;

    bottom: 0;
    left:0;
}

#pokemon-search-form {
    height: 5%;
    width: 25%;

    padding: 0;
    margin: 0;

    top: 85%;
    left: 34%;

    position: absolute;
    
    z-index: 12;

    opacity: 0;

    display: none;

    text-align: center;
}

#pokemon-search-bar {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 3% 7%;

    font-size: 1.5em;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);

    border: none;
    border-radius: 50px;

    color: rgba(0, 0, 0, .75);
    background-color: whitesmoke;
}

#pokemon-grid {
    height: 100vh;
    width: 100vw;

    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "pokemon-name pokemon-info"
                         "pokemon-img pokemon-stats"
                         "pokemon-party pokemon-party";

    position: absolute;

    top: 0;
    left: 0;

    z-index: 2;
}

#pokemon-name {
    height: 100%;
    width: 100%;
    
    padding: 0;
    margin: 0;

    text-align: center;
    
    grid-area: pokemon-name;
    
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
    
    color: whitesmoke;
    
    font-style: italic;
}

#pokemon-info {
    height: 100%;
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    grid-area: pokemon-info;
    
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
    
    color: whitesmoke;
    
    font-style: italic;
}

#pokemon-img {
    grid-area: pokemon-img;

    display: flex;

    justify-content: flex-end;
    align-items: center;
}

#pokemon-stats {
    grid-area: pokemon-stats;

    display: flex;

    justify-content: flex-start;
    align-items: center;
}

#pokemon-party {
    grid-area: pokemon-party;
    
    display: grid;
    
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 14.5%);
    gap: 2%;
    
    margin-left: 2%;
}

#pk-name {
    height: 50%;
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    font-size: 8em;
}

#pk-type {
    width:100%;
    
    padding: 0;
    margin: 0;
    
    font-size: 3em;
}

#pk-description {
    width:100%;
    
    padding: 0;
    margin: 0;
    
    font-size: 5em;
}

#pk-numb {
    width:100%;
    
    padding: 0;
    margin: 0;
    
    font-size: 3em;
}

#pk-img {
    width: 33%;

    padding: 0;
    margin: 0;

    margin-right: 15%; 
}

#hexa-stats {
    height: 400px;
    width: 400px;

    padding: 0;
    margin: 0;

    position: absolute;

    top: 24%;
    left: 46.6%;
}

#options {
    height: 5em;
    width: 5em;

    margin: 17% 5%;
    padding: 0;

    background-color: whitesmoke;

    border-radius: 50%;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.60);

    position: absolute;

    display: flex;

    justify-content: center;
    align-items: center;

    bottom: 0;
    right: 0;

    z-index: 6;

    cursor: pointer;

}

#options-plus {
    font-size: 3em;
}

#search-btn {
    height: 3em;
    width: 3em;

    margin: 18% 6%;
    padding: 0;

    background-color: whitesmoke;

    border-radius: 50%;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.60);

    position: absolute;

    display: flex;

    justify-content: center;
    align-items: center;

    bottom: 0;
    right: 0;

    z-index: 4;

    cursor: pointer;
}

#search-button-img {
    height: 100%;
    width: 100%;
}

#add-to-party {
    height: 3em;
    width: 3em;

    margin: 18% 6%;
    padding: 0;

    background-color: whitesmoke;

    border-radius: 50%;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.60);

    position: absolute;

    display: flex;

    justify-content: center;
    align-items: center;

    bottom: 0;
    right: 0;

    z-index: 4;

    cursor: pointer;

}

.card {
    display: none;
}

.pokemon-card-name {
    width: fit-content;
    height: auto;
    
    margin: 0;
    padding: 0;
    
    color: whitesmoke;
    
    text-shadow: -3px 2px 0px black;
    
    font-size: 1.5em;
}

.card img {
    width: 30%;
    height: auto;

    margin: 0;
    padding: 0;
}

.display-card {
    width: 100%;
    height: 60%;
    
    border-radius: 10px;
    border: 1px solid grey;
    
    background: linear-gradient(rgba(0, 0, 0, 0.603) -50%, rgba(245, 245, 245, 0.603) 100%);
    
    transform: skew(-20deg);
    
    display: block;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#pokemon-stat-graph {
    height: 300px;
    width: 300px;

    padding: 0;
    margin: 0;
    
    fill:lightblue;
    stroke:grey;
    stroke-width:.5;

    opacity: .75;

    position: absolute;

    top: 33%;
    left: 50%;

    z-index: 5;
}

#pokemon-stats-container {
    width: 100%;
    height: 100%;
}